*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(paisagem.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    height: 100vh;
  }

nav {
    background-color: rgb(11, 20, 56);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

#branding {
    display: flex;
    align-items: center;
}

#navlinks li {
    margin-right: 20px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#pagetitle {
    margin-left: 20px;
}

#searchbar {
    margin-right: 0;
    position: relative;
}

#searchInput {
    width: 350px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 50px 10px 10px;
}

#searchbar button {
    color: white;
    background-color: rgb(26, 165, 165);
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 12%;
    padding: 4px;
}

#btnSearch {
    right: 60px;
    cursor: pointer;
}
#btnClear {
    right: 15px;
    cursor: pointer;
}

.logo {
    width: 45px;
    height: auto;
    filter: brightness(0) invert(1);
}

#homeintro {
    color: white;
    font-family: britannic;
    font-size: xx-large;
    margin-left: 100px;
    margin-top: 85px;
}

#introduction {
    color: white;
    background-color: rgba(35, 40, 59, 0.8);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
    margin-left: 100px;
    margin-top: 5px;
    width: 425px;
}

#result:not(:empty) {
    display: flex;
    flex-direction: column; /* empilha os divs verticalmente */
    gap: 20px; /* espaço vertical entre eles */
    background-color: rgba(35, 40, 59, 0.8);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
    margin-left: 750px;
    margin-top: -400px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
}

#result img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#result p, h2 {
    margin-left: 10px;
    margin-top: 5px;
}

.recom {
    background-color: white;
    color: rgba(35, 40, 59, 1);
    border-radius: 10px;
    padding-bottom: 10px;
}

#navlinksAU, #navlinksCU {
    margin-right: 600px;
}

#navlinksAU li, #navlinksCU li {
    margin-right: 20px;
}

#AUintro {
    color: white;
    font-family: britannic;
    font-size: xx-large;
    margin-left: 100px;
    margin-top: 50px;
}

#aboutus {
    background-color: rgba(35, 40, 59, 0.8);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 150px;
    padding: 20px;
    border-radius: 10px;
}

#team {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(35, 40, 59, 0.65);
    border-radius: 10px;
    font-family: britannic;
    font-size: xx-large;
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 150px;
}

#team div {
    background-color: rgba(30, 37, 63, 0.9);
    font-size: medium;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}

#team div p {
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    margin-top: 10px;
}

.role {
    color: rgba(255, 255, 255, 1) !important;
    background-color:rgb(10, 22, 68);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#team h2 {
    margin-top: 10px;
}

#CUpage {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#CUintro {
    color: white;
    margin-left: 100px;
    font-size: xx-large;
    font-family: britannic;
}

#CUform {
    width: 500px;
    height: 330px;
    background-color: rgba(35, 40, 59, 0.65);
    color: white;
    margin-right: 100px;
    padding: 20px;
    border-radius: 20px;
    font-family: britannic;
}

#username, #email, #message {
    background-color: rgba(35, 40, 59, 0.65);
    width: 100%;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

#username, #email {
    height: 25px;
}

#CUform button {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    background-color: teal;
    border: none;
    border-radius: 20px;
    height: 25px;
    color: white;
    font-weight:100;
    cursor: pointer;
}